{% extends 'index.html' %}

{% block content %}

    <style>
      
      .login-form{
        padding: 20px;
        border : 2px solid cadetblue;
        margin : 10px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        text-align: center;
      }
      .login-form h2{
        text-align: center;
     
        font-size: 25px;
        text-transform:uppercase;
        color:cadetblue;
        font-weight: 500;   
      }

      .login-form input{
        margin-bottom: 20px;
        border: 2px solid cadetblue;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
      }

      .but{
        text-align: center;
        background-color: cadetblue;
        color : white;
        border: 2px solid cadetblue;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
      .login-form a{
        text-decoration: none;
        color: rgba(78, 47, 101, 0.498);
        font-weight: bold;
      
      }
      nav{
        background-color: cadetblue;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        
      }
      nav a{
        color: white;
      }

      .profile{
        margin-top : 50px;
        padding: 10px;
    
        
      }

      .profile h2{
        color:rgb(82, 75, 75);
      }

      .smi{
        height: 50px;
        width: 50px;
        border : 1px solid black;
        margin: 5px;
        padding-top:10px;
      }
      .social-media{
        padding: 5px;
        text-align: center;
      }

      .rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-bottom: 20px;
  
}

.rating > input {
  display: none;
  position: relative;
  top: 50px;
}

.rating > label {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.rating > label::before {
  content: "\2605";
  position: absolute;
  font-size: 30px;
  color: rgb(67, 62, 62);
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  color: gold;
}

.rating > input:checked ~ label:before {
  color: gold;
}

.car{
  background-color: rgba(95, 158, 160, 0.486);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.ta{
  border : 2px solid cadetblue;
}

.comments,.show-comments{
  margin: 5px;
}

.user{

  text-align: center;
  border : 2px solid cadetblue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: cadetblue;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

#att{
 text-decoration: none;
 color : white;

}

    </style>





    <section> 
      <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3"></div>
        <div class="col-sm-12 col-md-6 col-lg-6">

          <div class="usr">

            <div class="row" id="allusers"></div>



          </div>
        </div>
      </div>
    </div>
    </section>

 <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script>

$( document ).ready(function() {

  $.ajax({
        url: "http://127.0.0.1:8000/api/users/",
        type: 'GET',
        dataType: 'json',
        success: function(res) {
            console.log(res.reverse());


            for(i=0; i<res.length; i++){

                 var divElement = $('<div>', {
                    class: 'col-sm-12 col-md-6 col-lg-6'
                  });

                  // Create a <div> element with the class "user"
                  var userDiv = $('<div>', {
                    class: 'user'
                  });

                  // Create an <img> element with the class "image" and set the source attribute
                  var imgElement = $('<img>', {
                    class: 'image',
                    src: 'https://cdn-icons-png.flaticon.com/512/5087/5087579.png',
                    width: '100px'
                  });

                  // Create an <a> element with the id "att" and set the href attribute
                  var linkElement = $('<a>', {
                    id: 'att',
                    href: 'profile/'+res[i].id
                  });

                  // Create an <h2> element with the id "lname" and set the text content
                  var h2Element = $('<h2>', {
                    id: 'lname',
                    text: res[i].first_name + " " + res[i].last_name
                  });

                  // Create a <p> element and set the text content
                  var p1Element = $('<p>', {
                    text: res[i].email
                  });

                  // Create a <p> element and set the text content
                  var p2Element = $('<p>', {
                    text: 'Rating'
                  });

                  // Create an <h3> element and set the text content
                  var h3Element = $('<h3>', {
                    text: '4.4'
                  });

                  // Append the elements to construct the desired structure
                  linkElement.append(h2Element, p1Element, p2Element.append(h3Element));
                  userDiv.append(imgElement, linkElement);
                  divElement.append(userDiv);

                  $('#allusers').append(divElement);

            }


        }
    });

});

</script>



{% endblock %}